@use "../styles/scss/abstracts" as *;

.buttonElemenet {
    @include themed(){
      fill: t(iconColor);
      color: t(iconColor);
    }

    width: 18px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    margin: 5px 0;   
    
    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 1;
    }

    &:focus {
      outline: none;
    }
  
}



.filter-green {
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
}

