@use "../../../../styles/scss/abstracts" as *;

// @import url('/fonts/Inter/inter.css');

// :host * {
//     font-family: 'Inter', sans-serif;
// }

.extraPanel {
    all: initial;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
}

.extraButtonText {
    font-weight: normal;
}

.horizontalLine {
    width: 18px;
    border: solid 0.5px #d8d8d8;
    border-radius: 5px;
    margin: 10px 0px;
}

.toolbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 24px;
    height: 400px;
    line-height: normal;
    text-align: start;
    align-items: center;
    background: transparent;
    z-index: 2147483647;

    //padding-right: 5px;
}

.toolbarExpanded {
    align-items: flex-end;
    ///width: 44px;
    padding-right: 5px; //25
}

.toolbarSidebarOpen {
    @include themed(){
        background: t(backgroundLight);
        border-left: 1px solid t(lineColor);
    }

    box-shadow: none;
    display: flex;
    justify-content: center;
    height: 105vh;
    width: 40px;
    align-items: flex-start;
    //padding-right: 0px; // 5
    
    padding-right: 0px;
    & .removeSidebar {
        visibility: hidden;
        display: none;
    }
}

.removeSidebar {
    display: flex;
}

.innerToolbar {
    position: absolute;
    top: 30px;//20px;
    width: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
    display: none;
}

.innerToolbarExpanded {
    @include themed(){
        background: t(backgroundLight);//rgb(230, 184, 184);
    }
    
    border-radius: 20px;
    // background: white;
    display: flex;
    box-shadow: 0px 22px 26px 18px rgba(0, 0, 0, 0.03);
    /////border: 1px solid #f0f0f0; //////
}

.innerToolbarSidebarOpen {
    box-shadow: none;
    height: 100%;
    top: 30px;//20px;//0px;
    width: 40px;
    justify-content: flex-start;
    //padding-top: 26px; //17px;
    display: flex;
    background: transparent;
    border: none;
    align-items: center;
}

/* SECTIONS */

.generalActions {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    justify-content: space-between;
}

.pageActions {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    justify-content: space-between;
}

.settingsActions {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    justify-content: space-between;
}

/**/
.arr {
    transition: 0.2s cubic-bezier(0.55, 0.09, 0.68, 0.53);
}

.arrow {
    //background-image: url("/assets/icons/openSidebar.svg"); //todo
    transition: 0.2s cubic-bezier(0.55, 0.09, 0.68, 0.53);
  }
  
  .arrowReverse {
    //background-image: url("/assets/icons/openSidebar.svg");
    transition: 0.2s cubic-bezier(0.55, 0.09, 0.68, 0.53);
    transform: rotate(180deg);
    //transition: 0.2s cubic-bezier(0.55, 0.09, 0.68, 0.53);
  }